html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}



/*** TabList and Tab component***/
.tab {
    display: inline-block;
    margin: 10px;
}

.tabList {
    background-color: rgba(217,217,217,0.4);
}



/*** SearchBar component***/
.searchBar {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    margin-left: 350px;
}

.searchBar input {
    width: 300px;
    border-radius: 5px;
    line-height: 20px;
}



/*** BookList and Book component***/
.book {
    background-color: rgba(247,250,250,0.4);
    margin: 20px 0px;
    height: 400px;
}

.book .cover {
    margin: 20px;
    border: 1px solid ;
    height: 100%;
    border-radius: 15px;
    border-color: rgba(217,217,217,0.4);
}

.book .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}

.book .title {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

.book .Img {
    text-align: center;
}

.bookImg {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}



/*** Ranking & Rank component***/
.rankList{
    position: relative;
    width: 300px;
    height: 600px;
    border: 1px solid #000;
}

.rank{
    position: relative;
    border: 1px solid powderblue;
    width: 100%;
}



/***** Star component *****/
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



/*** PostList and Post component***/
.posts {
    height: 100px;
    width: 45%;
    border: 0px solid black;
    float: left;
    margin: 2%;
    background-color: #FFFFFF;
}

.posts-left {
    height: 100%;
    width: 30%;
    cursor: pointer;
    float: left;
}

.post-img {
    height: 100%;
    width: 100%;
}

.posts-right {
    width: 68%;
    height:100%;
    float: left;
    margin-left: 2%;
    overflow: scroll;
}

.post-title {
    height: 15%;
    margin: 2% 0;
    color: #b0b0b6;
}

.post-description {
    height: 80%;
    color: #b0b0b6;
}


/*** Login CSS***/
/**{*/
    /*box-sizing:border-box;*/
/*}*/
/**:focus{*/
    /*outline:none;*/
/*}*/
/*body{*/
    /*!*Background *!*/
    /*background:url(https://i.imgpile.com/2016/09/14/a919d5fcd1e68360c45b3afde9fedddc.jpg)center center fixed;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*!*Background End *!*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*margin:0;*/
    /*padding:0;*/
/*}*/
.container{
    text-align:center;
    position:relative;
    margin:20px auto auto auto;
    height:400px;
    width: 400px;
    background-color:rgba(42, 58, 71, 0.5);
    border-radius:5px;
}
.form-wrapper{
    display:block;
    position:absolute;
    top:5px;
    left:15px;
    right:15px;
    padding:10px;
    border-radius:5px;
}
.form-wrapper h1{
    font-family: 'Poiret One', cursive;
    color:#ffe082;
    letter-spacing:5px;
    font-size:32px;
}
.form-wrapper input[type=email],input[type=password]{
    width: 100%;
    padding:10px;
    border:none;
    border-radius:2px;
    border-bottom:4px solid #ccc;
    margin-bottom:10px;
    font-size:14px;
    transition:all 0.6s linear;
}
.form-wrapper input[type=email]:focus,input[type=password]:focus{
    border-bottom:4px solid #ffe082;
    color:#607D8B;
}
.form-wrapper input[type=button]{
    width: 100%;
    padding: 15px;
    border:none;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius:2px;
    font-size:14px;
    letter-spacing:2px;
}
.form-wrapper input[type=button].btn-login{
    border-bottom: 3px solid #D81B60;
    background-color: #ec407a;
    color: #FBE9E7;
    transition:all 0.3s linear;
}
.form-wrapper input[type=button].btn-login:hover{
    border-bottom: 3px solid #ff7043;
    background-color: #FF8A65;
    color: #FBE9E7;
    cursor:pointer;
}
.form-wrapper input[type=button].btn-register{
    border-bottom: 3px solid #009688;
    background-color: #26a69a;
    color: #FBE9E7;
    margin-bottom: 15px;
    transition:all 0.3s linear;
}
.form-wrapper input[type=button].btn-register:hover{
    border-bottom: 3px solid #009688;
    background-color: #4DB6AC;
    color: #FBE9E7;
    cursor:pointer;
}
.form-wrapper a{
    text-decoration:none;
    color:#FBE9E7;

}
.form-wrapper a:hover{
    text-decoration:underline;
}
