html,body{
  height: 100%;
  width: 100%;
  /*background-color: rosybrown;*/
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
    height: 100%;
    width: 100%;
   /*background-color:red;*/
}

.app {
    width:100%;
    height: 100%;
}

.bookImg {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}