* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  position: fixed;
  border-bottom: 1px solid #c8c8c8;
  height: 50px;
  width: 100%;
  background-color:	#f83938;
  z-index: 99999;
}

.tabs {
  float: left;
  margin-left: 10px;
  display: block;
  padding: 15px 10px;
  cursor: pointer;
}

.searchBook {
  border-radius: 15px;
  border: 0 none;
  padding: 6px 10px 6px 30px;
  height: 10px;
  width: 220px;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  background-color: #c8c8c8;
  box-sizing: content-box;
  margin-left: 250px;
  margin-top: 12px;
}

.main {
  position: relative;
  top: 50px;
  background-color: #e5e5e5;
  height: 100%;
  width:100%;
}

.posts {
  height: 100px;
  width: 45%;
  border: 0px solid black;
  float: left;
  margin: 2%;
  background-color: #FFFFFF;
}

.posts-left {
  height: 100%;
  width: 30%;
  cursor: pointer;
  float: left;
}

.post-img {
  height: 100%;
  width: 100%;
}

.posts-right {
  width: 68%;
  height:100%;
  float: left;
  margin-left: 2%;
  overflow: scroll;
}

.post-title {
  height: 15%;
  margin: 2% 0;
  color: #b0b0b6;
}

.post-description {
  height: 80%;
  color: #b0b0b6;
}
